In [1]:
import pandas as pd
import numpy as np
import json

#cargo los datasets
#si agrego  dtype='unicode' evito algunos errores sobre tipos de datos
dfMovies = pd.read_csv(r'datasets\movies_dataset.csv', dtype='unicode')
dfCredits= pd.read_csv(r'datasets\credits.csv', dtype='unicode')

pd.set_option("display.max_rows", 2000, "display.max_columns", None)

In [2]:
#FUNCIONES

#desanida columna y devuelve un dataframe
def desanidarColumna(columna):
    lista = []
    listaDict=[]
    counter=0
    for k, v in columna.items():
        if isinstance(v, str):
            lista.append(v)
        else:
            lista.append(None)
    for i in lista:   
                try:
                    i=json.loads(lista[counter].replace("'", '"'))
                    listaDict.append(i)
                    counter+=1
                except:
                    None
                    counter+=1
    listaDict=pd.json_normalize(listaDict)
    return listaDict
    
    #def desanidarVariasColumnas(columna):

In [3]:
#desanido belongs to collection
dfPeliculas = (desanidarColumna(dfMovies['belongs_to_collection']))
dfPeliculas

,id,name,poster_path,backdrop_path
0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
2,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
3,645.0,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg
4,117693.0,Balto Collection,/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg,/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg
...,...,...,...,...
3166,123720.0,Frankenstein (Hammer Series),/fKiok5TbCKWRgfNd4Rj8gPMzGJp.jpg,/gl9Gi60C9WYVkObOMll19OROhMC.jpg
3167,37261.0,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg
3168,37261.0,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg
3169,37261.0,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg
3170,200641.0,Red Lotus Collection,/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg,/3fhHbLeO3DqdHvgHg5szs399eBb.jpg

In [14]:
#la columna generos hay que desanidarle cada columna despues de aplciarle la funcion
dfGeneros = (desanidarColumna(dfMovies['genres']))

columna0=pd.json_normalize(dfGeneros[0])
columna1=pd.json_normalize(dfGeneros[1])
columna2=pd.json_normalize(dfGeneros[2])
columna3=pd.json_normalize(dfGeneros[3])
columna4=pd.json_normalize(dfGeneros[4])
columna5=pd.json_normalize(dfGeneros[5])
columna6=pd.json_normalize(dfGeneros[6])
columna7=pd.json_normalize(dfGeneros[7])

dfs=[columna0,columna1, columna2, columna3, columna4, columna5, columna6, columna7]

dfGeneros=pd.concat(dfs).dropna()
#dfGeneros.groupby(dfGeneros.columns.to_list(),as_index=False).size()

dfGeneros
#no me queda claro como voy a unir cada genero con su pelicula

#considerar esto mientras sigo revisando el resto del dataframe, mas que todo caundo hago el drop dups

#REVISAR TODAS LAS COLUMNAS PORQUE TIENEN DATOS ADEMAS DE NULOS

            id       name
0         16.0  Animation
1         12.0  Adventure
2      10749.0    Romance
3         35.0     Comedy
4         35.0     Comedy
...        ...        ...
41345     18.0      Drama
45344     16.0  Animation
8084   10751.0     Family
34383     35.0     Comedy
35682     53.0   Thriller

[91106 rows x 2 columns]

In [9]:
#desanido production_companies

dfCompanies=pd.DataFrame(dfMovies['production_companies'])
dfCompanies=desanidarColumna(dfMovies['production_companies'])
col0=pd.json_normalize(dfCompanies[0])

dfCompanies

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25
0,"{'name': 'Pixar Animation Studios', 'id': 3}",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,"{'name': 'TriStar Pictures', 'id': 559}","{'name': 'Teitler Film', 'id': 2550}","{'name': 'Interscope Communications', 'id': 10...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,"{'name': 'Warner Bros.', 'id': 6194}","{'name': 'Lancaster Gate', 'id': 19464}",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,{'name': 'Twentieth Century Fox Film Corporati...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,"{'name': 'Sandollar Productions', 'id': 5842}","{'name': 'Touchstone Pictures', 'id': 9195}",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44971,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
44972,"{'name': 'Sine Olivia', 'id': 19653}",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
44973,"{'name': 'American World Pictures', 'id': 6165}",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
44974,"{'name': 'Yermoliev', 'id': 88753}",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
44975,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None